{% extends 'base.html.twig' %}

{% block title %}Associations / Clubs{% endblock %}

{% block body %}
<body style="background-image:url('{{ asset('images/bg/bg_association.jpg') }}');">
<div class="container">
    <div class="row" style="margin-top:10vh;">
        <h1 class="center">Nos Associations / Clubs</h1>
    </div>
    <div class="row" style="margin-top:10vh;">
        {% for association in associations %}
            <div class="col s4 m4">
                <div class="card blue-grey darken-1" style="min-height: 200px;background-image:url('{{ vich_uploader_asset(association, 'imageFile') }}');background-repeat:no-repeat;background-size: 100% 100%;background-attachment: cover;">
                    <div class="card-content white-text">
                        <h4 class="truncate center" style="margin: 20%;" title="{{ association.name }}">{{ association.name }}</h4>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="center">
                <h2>Aucune Association ou Club pour le moment</h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}