{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<body style="background-image:url('{{ asset('images/bg/userProfil.png') }}');background-opacity:0.5;">
    {# <div class="example-wrapper">
        <h1>Sondages</h1>
    </div> #}
</body>
{% endblock %}
