<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OwlNight BDE!{% endblock %}</title>
        {% block stylesheets %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/materialize.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      {% endblock %}
    </head>
    <body>
        {% include 'global/header.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
